%div.container
  %div.col-md-6.col-sm-6
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      = flash[:notice]
      .field
        %br/
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class:"form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      .actions
        %br/
        = f.submit "#{t '.resend_confirmation_instructions'}", class: "btn btn-outline-primary btn-block btn-lg"
