
.d-flex.flex-row-reverse.topPage_btn-adopt
  = link_to t('links.to_shop_index'),shop_top_index_path,class: "btn btn-outline-primary"

.d-flex.align-items-end.justify-content-center.searchForm
  = search_form_for @search do |f|
    .searchForm_slectBox
      %label
        =t('search.region')
      = f.select :shop_id_eq, Prefecture.all.map{|pr| [pr.name]}, {prompt:t('search.select_default')}, { autofocus: 'true', class: 'form-control'}
    .searchForm_slectBox
      %label
        =t('search.game')
      = f.select :shop_id_eq, CardGame.all.map{|cg| [cg.title, cg.id]}, {prompt:t('search.select_default')}, { autofocus: 'true', class: 'form-control'}
    .searchForm_btn
      = button_tag type: 'submit', class: 'btn btn-light searchForm_btn' do
        %i.fa.fa-search{"aria-hidden" => "true"}
        =t('search.button')

#p 新着募集

.recruitment
  - @projects.each do |pjt|
    .recruitment_frame
      = pjt.title
      = pjt.content
