.modal.fade#modalLogin{"tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog.cascading-modal{"role" => "document"}
    .modal-content
      .modal-header.light-blue.darken-3.white-text
        %h4.title
          %i.fa.fa-user-plus
          #{t '.title'}
        %button.close.waves-effect.waves-light{"type" => "button", "data-dismiss" => "modal", "aria-label" => "Close"}
          %span{"aria-hidden" => "true"}
            &times;
      .modal-body
        = form_for(resource_u, as: resource_name_u, url: session_path(resource_name_u)) do |f|
          .md-form.form-sm
            %i.fa.fa-envelope.prefix
            = f.email_field :email, autofocus: true, class:"form-control"
            = f.label :email
          .md-form.form-sm
            %i.fa.fa-lock.prefix
            = f.password_field :password, autocomplete: "off", class:"form-control"
            = f.label :password
          .text-center.mt-2
            = f.submit "#{t '.title'}", class: "btn btn-primary" do
              %i.fa.fa-sign-in.ml-1