%div.container.mt-5.mb-5
  .row
    .col-md-2
    .col-md-8
      %h4.mb-3= t '.title'
      - if resource.errors.any?
        %div#error_explanation.alert.alert-danger
          %h2= resource.errors.count.to_s + "件のメッセージがあります。"
          %ul
          - resource.errors.full_messages.each do |msg|
            %li= msg
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .md-form
          = f.label :email
          = f.email_field :email, autofocus: true, class:"form-control"
        .md-form
          = f.label :password
          = f.password_field :password, autocomplete: "off", class:"form-control"
        .text-center
          = f.submit "#{t '.title'}", class: "btn btn-primary"
    .col-md-2