= search_form_for @search, url: root_path do |f|
  .searchForm_slectBox
    %label
      = t('search.prefecture')
    = render 'shared/prefectures_select_list'
  .searchForm_slectBox
    %label
      =t('search.city')
    = f.select :shop_info_address_cont_all,'', {include_blank:t('search.all')}, {class: 'form-control',id:'cities',name:'q[shop_info_address_cont_all][]'}
  .searchForm_slectBox
    %label
      =t('search.game')
    %button.btn-default.form-control{"data-target" => "#card_games", "data-toggle" => "collapse", :type => "button"}
      =t('prompt.select')
    #card_games.collapse
      .panel.panel-default
        .panel-body
          = f.collection_check_boxes :card_games_id_in, CardGame.all, :id, :title, {checked: @search.card_games_id_in} do |b|
            = b.label{ b.check_box + b.text }
  .searchForm_btn
    = button_tag type: 'submit', class: 'btn btn-light searchForm_btn' do
      %i.fa.fa-search{"aria-hidden" => "true"}
        = t('search.button')