= search_form_for @search, url: root_path do |f|
  .searchForm_slectBox
    %label
      = t('search.prefecture')
    = render 'shared/prefectures_select_list'
  .searchForm_slectBox
    %label
      =t('search.city')
    = f.select :shop_info_address_cont_all,'', {include_blank:t('search.all')}, {class: 'form-control',id:'cities',name:'q[shop_info_address_cont_all][]'}
  .searchForm_slectBox
    %label
      =t('search.game')
    = f.select :card_games_id_eq_all, CardGame.all.map{|cg| [cg.title, cg.id]}, {include_blank:t('search.all')}, {class: 'form-control',id:'card-games'}
  .searchForm_btn
    = button_tag type: 'submit', class: 'btn btn-light searchForm_btn' do
      %i.fa.fa-search{"aria-hidden" => "true"}
        = t('search.button')