= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :project
    = f.text_field :project
  .actions
    = f.submit 'Save'
