- if current_user.already_contacted?(project)
  %button.btn.btn-info.disabled
    %i.fa.fa-check{"aria-hidden" => "true"}
    = t('.applied')
- elsif current_user.resume.blank?
  .alert.alert-warning{:role => "alert",:style =>"text-align:left"}
    %i.fa.fa-exclamation-circle{"aria-hidden" => "true"}
    = t('.unregistered_resume')
    = link_to t('.create_resume'),new_resume_path
- else
  = form_for [project,contact] do |f|
    = f.submit class: 'btn btn-primary','data-toggle': "modal", 'data-target': "#apply"

#apply.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.contactModal
      .modal-header
        %h5#exampleModalLabel.modal-title
          = t('.modal_title')
      .modal-body
        = t('.modal_content')
      .modal-footer
        = link_to t('.confirmed'),root_path,class: "button btn btn-primary"
