.recruitmentDetail
  .recruitmentDetail_title
    = @project.title
  .recruitmentDetail_shopName
    = @project.shop_info.shop_name
  .recruitmentDetail_image
    = set_image(@project.image,"","shop_image")
  .recruitmentDetail_content
    = @project.content
  .recruitmentDetail_entryBtn
    = render partial: '/contacts/form' , locals: {project: @project, contact: @contact}
  .recruitmentDetail_shopInfo
    .shopInfo_name
      = @project.shop_info.shop_name
    .shopInfo_address
      = @project.shop_info.address
    .shopInfo_phone
      = @project.shop_info.phone_number
    .shopInfo_map
      = render partial: 'shared/map' , locals: {map: @map,mapedit:false}



