%p#notice= notice
.recruitmentDetail
  .recruitmentDetail_title
    = @project.title
  .recruitmentDetail_shopName
  .recruitmentDetail_image
    = set_image(@project.image,"","shop_image")
  .recruitmentDetail_content
    = @project.content
  .recruitmentDetail_entryBtn
    = render partial: '/contacts/form' , locals: {project: @project, contact: @contact}
  .recruitmentDetail_shopInfo
    .shopInfo_name
      = @project.shop_info.shop_name
    .shopInfo_address
      = @project.shop_info.address
    .shopInfo_phone
      = @project.shop_info.phone_number
    #map.shopInfo_map
:javascript
  var mapdata = #{raw @map.to_json};
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(mapdata, { draggable: true});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16);

     //add markers to original json
    _.each(mapdata, function(json, index){
      json.marker = markers[index];
    });
    debugger
    //add dragend event to markers, triggered when you drop them
    _.each(mapdata, function(json){
      google.maps.event.addListener(json.marker.getServiceObject(), "dragend", function(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        console.log('mapdata移動先：' + '　lat(緯度): ' + lat + ' lng(軽度): ' + lng)
      });
    });   
  });



