%p#notice= notice
.recruitmentDetail
  .recruitmentDetail_title
    = @project.title
  .recruitmentDetail_shopName
    = @project.shop_info.name
  .recruitmentDetail_image
    ショップ画像
  .recruitmentDetail_content
    = @project.content
  .recruitmentDetail_entryBtn
    = render partial: '/contacts/form' , locals: {project: @project, contact: @contact}
  .recruitmentDetail_shopInfo
    .shopInfo_name
      = @project.shop_info.name
    .shopInfo_address
      = @project.shop_info.address
    .shopInfo_phone
      ショップ電話番号
    #map.shopInfo_map





= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path

= javascript_tag do
  place = #{raw @hash.to_json};

/:javascript
/  handler = Gmaps.build('Google');
/  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
/    markers = handler.addMarkers(#{raw @hash.to_json});
/    handler.bounds.extendWith(markers);
/    handler.fitMapToBounds();
/    handler.getMap().setZoom(16);
/  });
