.container.mt-5.mb-5
  .row
    .col-md-1
    .col-md-10
      %h3.mb-3= t('.title')
      .text-center.mb-5
        = link_to t('signin'), new_shop_project_path, class: "btn btn-primary projectList_addNewBtn"
      -@shop_projects.each do |pjt|
        .row.mb-4.per-row.py-4
          .col-3
            = set_image(pjt.image,"z-depth-1 img-fluid rounded","shop_image")
          .col-6
            %h5= pjt.title
            %p= pjt.content
          .col-3
            - unless pjt.shop_info.blank?
              = link_to t('btn.edit'), edit_shop_project_path(pjt.id), class: "btn btn-info" if pjt.shop_info.shop_id == current_shop.id
    .col-md-1
