.container.mt-5.mb-5
  .row
    .col-md-2
    .col-md-8
      %h4.mb-3= t('.title')
      - if resource.errors.any?
        #error_explanation.alert.alert-danger.mb-3
          %h2= resource.errors.count.to_s + "件のメッセージがあります。"
          %ul
          - resource.errors.full_messages.each do |msg|
            %li= msg
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .md-form
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .md-form
          = f.label :password
          - if @minimum_password_length
            = f.label :password, "パスワード(#{@minimum_password_length}文字以上: #{t ".leave_blank_if_you_don't_want_to_change_it"})"
          = f.password_field :password, autocomplete: "off", class: "form-control"
        .md-form
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        .md-form
          = f.label :current_password, "現在のパスワード(#{t '.we_need_your_current_password_to_confirm_your_changes'})"
          = f.password_field :current_password, autocomplete: "off", class: "form-control"
        .text-center
          = f.submit "#{t '.title'}", class: "btn btn-primary btn-block btn-lg"
    .col-md-2