%div.container
  %h2= t '.title'
  %div.field
    = t '.name'
    = ':' + @resume.full_name
    %br/
  %div.field
    = t '.phonetic'
    = ':' + @resume.full_name_kana
    %br/
  %div.field
    = t '.phone_number'
    = ':' + @resume.phone_number
    %br/
  %div.field
    = t '.card_game_experience'
    %br/
    - @card_game_experiences.each do |cge|
      %div.space
        = t '.card_game_name'
        = ':' + cge.card_game.title
        %br/
        = t '.card_game_experiences'
        = ':' + cge.experience_year_month
        %br/
  - if @resume.contact_method.email?
    = link_to @resume.user.email, "mailto:#{@resume.user.email}", class: "btn btn-info"
  - else
    = link_to @resume.phone_number, "tel:#{@resume.phone_number}", class: "btn btn-info"
