= render 'shared/errors', object: @resume
%div.container.mt-5.mb-5
  .row
    .col-md-2
    .col-md-8
      = form_for @resume do |f|
        %h3
          = t('.title')
        .row.mb-4
          .col-md-3
          .col-md-6
            .text-center
              = set_image(@resume.profile_image,'imageSize_resume z-depth-1 img-fluid')
          .col-md-3
        .text-center.mb-4
          = f.label :profile_image, class: "btn btn-primary " do
            %i.fa.fa-camera{"aria-hidden" => "true"}
              = t('btn.add_new_picture')
            = f.file_field :profile_image,style: "display:none;"
            = f.hidden_field :profile_image_cache
        .row.mb-4
          .col-md-6
            .md-form
              = f.text_field :last_name, class: 'form-control'
              = f.label :last_name
          .col-md-6
            .md-form
              = f.text_field :first_name, class: 'form-control'
              = f.label :first_name
        .row.mb-4
          .col-md-6
            .md-form
              = f.text_field :last_name_kana, class: 'form-control'
              = f.label :last_name_kana
          .col-md-6
            .md-form
              = f.text_field :first_name_kana, class: 'form-control'
              = f.label :first_name_kana
        .text-justify.mb-2
          %h5
            = t('.contact_method.title')
        .mb-4
          .custom-control.custom-radio.custom-control-inline
            = f.radio_button :contact_method, :email, class: 'custom-control-input', id: 'email-radio'
            %label.custom-control-label{"for" => "email-radio"}
              = t('.contact_method.email')
          .custom-control.custom-radio.custom-control-inline
            = f.radio_button :contact_method, :phone, class: 'custom-control-input', id: 'phone-radio'
            %label.custom-control-label{"for" => "phone-radio"}
              = t('.contact_method.tell')
          = f.text_field :phone_number,:class => 'form-control input_contact' ,:id =>'phone', placeholder: t('prompt.input_tell')
        .text-justify.mb-4
          %h5
            = t('.card_game_experience.title')
        = f.nested_fields_for :card_game_experiences, wrapper_tag: :tr do |q|
          .row.card-exp
            .col-md-4
              %p
                = t('.card_game_experience.card_game')
              .select-wrapper.input-group.md-form.mdbselect
                %span.caret ▼
                %input.card-name.form-control.select-dropdown{"type" => "text", "readonly" => "true"}
                  %ul.dropdown-content.select-dropdown#card-name-choices{"tabindex" => "7"}
                    - CardGame.all.each do |b|
                      %li{:value => (b.id)}
                        %span.filtrable
                          = b.title
            .col-md-3.col-4
              %p
                = t('.card_game_experience.years')
              .md-form.input-group.number-input
                = q.number_field :experience_year,min:0, max: 99,:class => 'form-control'
                .input-group-append
                  %span.input-group-text
                    = t('datetime.prompts.year')
            .col-md-3.col-4
              %p.hide-label.display-block.opacity-0 a
              .md-form.input-group.number-input
                = q.number_field :experience_month,min:0, max: 11,:class => 'form-control'
                .input-group-append
                  %span.input-group-text
                    = t('datetime.prompts.months')
            .col-md-2.col-4
              %p.hide-label.display-block.opacity-0 a
              = q.remove_nested_fields_link t('btn.delete'), class: 'btn btn-danger removeCareer', role: 'button'
        .row.mb-4
          = f.add_nested_fields_link :card_game_experiences, t('btn.add_new_career'), class: 'btn btn-primary addCareer', role: 'button',onClick: 'is_AddCareer()'
        .text-center.mb-4
          = f.submit :class=>"btn btn-primary"
    .col-md-2