= simple_form_for(@resume) do |f|

  .field
    = f.input :profile_image
  .field
    = f.input :first_name
  .field
    = f.input :first_name_kana
  .field
    = f.input :last_name
  .field
    = f.input :last_name_kana

  %input#radio-id-mail.custom-radio{ name: 'custom-radio', type: 'radio', checked: 'checked' }
  %label{ for: 'radio-id-mail' } メールアドレス
  %input#radio-id-phone_number.custom-radio{ name: 'custom-radio', type: 'radio' }
  %label{ for: 'radio-id-phone_number' } 電話番号

  .field
    = f.input :phone_number

  = f.simple_fields_for :card_game_experiences, @resume.card_game_experiences.build do |ex_form|

    = ex_form.input :card_game_id, collection: CardGame.all.pluck(:title)
    = ex_form.input :experience_year
    = ex_form.input :experience_mounth

    

  .actions
    = f.submit
