- if @resume.errors.any?
  %div#error_explanation.alert.alert-danger
    %h2= @resume.errors.count.to_s + "件のメッセーがあります。"
    %ul
    - @resume.errors.full_messages.each do |msg|
      %li= msg

= form_for @resume do |f|
  .resume.resume-form
    .resume_header
      = t('.title')
    .resume_body
      .resume_pictureUpload
        .preview
          = set_image(@resume.profile_image,'imageSize_resume')
        = f.label :profile_image, class: "btn btn-primary " do
          %i.fa.fa-camera{"aria-hidden" => "true"}
            = t('btn.add_new_picture')
          = f.file_field :profile_image,style: "display:none;"
          = f.hidden_field :profile_image_cache
      .resume_name
        .last_name
          = t('last_name')
          = f.text_field :last_name, class: 'form-control'
        .first_name
          = t('first_name')
          = f.text_field :first_name, class: 'form-control'
      .resume_nameKana
        .last_name
          = t('last_name_kana')
          = f.text_field :last_name_kana, class: 'form-control'
        .first_name
          = t('first_name_kana')
          = f.text_field :first_name_kana, class: 'form-control'
      = simple_form_for(@resume) do |f|
        .resume_contactsMethod
          %p
            = t('.contact_method.title')
          = f.input :contact_method,
              collection: [[t('.contact_method.tell'), 1],[t('.contact_method.email'), 2]], as: :radio_buttons,
              item_wrapper_class: "resume_contacts",label: false,error: false,:input_html => {:onClick => 'chengeContactMethod()' }
        .resume_contact
          %input{:class => 'form-control input_contact' , placeholder: t('.contact_method.input_hint'),:disabled => "disabled"}
          = f.input :phone_number ,label:false, :input_html => {:style => 'display:none' ,:class => 'form-control input_contact' ,:id =>'type1', placeholder: t('prompt.input_tell')}
          %input{:style => 'display:none' ,:class => 'form-control input_contact' ,:id =>'type2', placeholder: t('prompt.input_email')}
      .resume_cardgameExp
        %p
          = t('.card_game_experience.title')
        %table.table.table-sm.table-hover.resume_cardgameExpTable
          %thead
            %tr{class:'table-info'}
              %th
                = t('.card_game_experience.card_game')
              %th{:colspan => "5"}
                = t('.card_game_experience.years')
          %tbody
            = f.nested_fields_for :card_game_experiences, wrapper_tag: :tr do |q|
              %td
                = q.collection_select(:card_game_id, CardGame.all, :id, :title,{prompt:t('prompt.select')}, {class: "form-control"}) do |b|
                  = b.label{ b.check_box + b.text }
              %td
                = q.select :experience_year, options_for_select(0..30), {prompt:'0'}, { class: "form-control" }
              %td.label
                = t('datetime.prompts.year')
              %td
                = q.select :experience_month, options_for_select(1..11), {prompt:'1'}, { class: "form-control" }
              %td.label
                = t('datetime.prompts.month')
              %td
                = q.remove_nested_fields_link t('btn.delete'), class: 'btn btn-danger removeCareer', role: 'button'
        = f.add_nested_fields_link :card_game_experiences, t('btn.add_new_career'), class: 'btn btn-primary addCareer', role: 'button',onClick: 'is_AddCareer()'
    .resume_footer
      = f.submit :class=>"btn btn-primary"