= simple_form_for(@resume) do |f|
  .field
    = f.input :first_name
  .field
    = f.input :first_name_kana
  .field
    = f.input :last_name
  .field
    = f.input :last_name_kana
  .field
    = f.input :contact_method, collection: ['email', 'phone'], as: :radio_buttons
  .field
    = f.input :phone_number
  = f.simple_fields_for :card_game_experiences do |ex_form|
    .field
    = ex_form.collection_select :card_game_id, CardGame.all, :id, :title
    = ex_form.input :experience_year
  .actions
    = f.submit

= simple_form_for(@resume) do |f|
  .resume.resume-form
    .resume_header
      "My履歴書"
    .resume_body
      .resume_pictureUpload
        .preview
          = set_image(@resume.profile_image,'imageSize_resume')
        = f.label :profile_image, class: "btn btn-primary " do
          %i.fa.fa-camera{"aria-hidden" => "true"}
            "新しい写真を登録"
          = f.file_field :image,style: "display:none;"
          = f.hidden_field :profile_image_cache
      .resume_name
        .first_name
          = f.input :first_name ,label: "性", :input_html => { :class => 'form-control' }
        .last_name
          = f.input :last_name ,label: "名", :input_html => { :class => 'form-control' }
      .resume_nameKana
        .first_name
          = f.input :first_name_kana ,label: "セイ", :input_html => { :class => 'form-control' }
        .last_name
          = f.input :last_name_kana ,label: "メイ", :input_html => { :class => 'form-control' }
      .resume_contactsMethod
        %p 希望の連絡手段
        = f.input :contact_method,
          collection: [["Tell", 1],["E-mail", 2]], as: :radio_buttons,
          item_wrapper_class: "resume_contacts",label: false
      .resume_contact
        = f.input :phone_number ,label:false, :input_html => { :class => 'form-control' }
      .resume_cardgameExp
        %p ● カードゲーム経験の登録
        %table.table.table-sm.table-hover
          %thead
            %tr{class:'table-info'}
              %th "カードゲーム名"
              %th{:colspan => "3"} "経験年数"
          %tbody
            = f.nested_fields_for :card_game_experiences, wrapper_tag: :tr do |q|
              %td
                = collection_select(:card_game_experiences, :card_game_ids, CardGame.all, :id, :title,{prompt: "選択してください"}, {class: "form-control"}) do |b|
                  = b.label{ b.check_box + b.text }
              %td
                = select :card_game_experiences, :experience_year, options_for_select(1..30), {prompt:'0'}, { class: "form-control" }
              %td
                = select :card_game_experiences, :experience_month, options_for_select(1..11), {prompt:'0'}, { class: "form-control" }
              %td
                = q.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button'
        = f.add_nested_fields_link :card_game_experiences, 'Add new', class: 'btn btn-primary', role: 'button'
