= simple_form_for(@resume) do |f|

  .field
    = f.input :profile_image
  .field
    = f.input :first_name
  .field
    = f.input :first_name_kana
  .field
    = f.input :last_name
  .field
    = f.input :last_name_kana
  .field
    = f.input :contact_method, collection: ['email', 'phone'], as: :radio_buttons, item_wrapper_class: "inline"

  .field
    = f.input :phone_number

  = f.simple_fields_for :card_game_experiences do |ex_form|
    .field
    = ex_form.collection_select :card_game_id, CardGame.all, :id, :title
    = ex_form.input :experience_year
    = ex_form.input :experience_mounth


  .actions
    = f.submit
