%div.container.mt-5.mb-5
  .row
    .col-md-2
    .col-md-8
      %h4.mb-3=t('.employment_signin_title')
      = link_to new_shop_registration_path, class: "btn btn-primary mb-5" do
        = t('links.to_signup')
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %h4.mb-3=t('.employment_login_title')
        .md-form
          = f.label :email
          = f.email_field :email, id: "emailAddress", class: "form-control"
        .md-form
          = f.label :password
          = f.password_field :password, id: "exampleInputPassword1", class: "form-control"
        .text-center
          %button.btn.btn-primary{:type => "submit"}
            =t('login')
    .col-md-2