.placeInfo
  .placeInfo_title
    = place.name
  .placeInfo_content
    = place.description
  .placeInfo_link
    = link_to t('links.to_open_map') ,"https://maps.google.co.jp/maps?q=loc:#{place.latitude},#{place.longitude}&iwloc=J",target: "_blank"
