!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title MyPreset

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:src => "//maps.google.com/maps/api/js?v=3.23&key=AIzaSyDS1jAYuwHzIEijBMpXSHK6PSkf8sWCxrc"}
    %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    %script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js",:type => "text/javascript"}

    .site_header
      %nav.navbar.navbar-expand-md.navbar-light.bg-light.justify-content-between
        %a.navbar-brand{:href => "#"}
          = t('sitetitle')
        %nav.navbar-light.bg-light
          -if user_signed_in?
            = link_to root_path,class: "btn btn-outline-primary" do
              %i.fa.fa-user{"aria-hidden" => "true"}
              =t('mypage')
          -else
            %form
              = link_to t('login'),shop_top_index_path,class: "btn btn-outline-primary"
              %button.btn.btn-primary{:type => "button"}
                = t('signin')

  %body
    .site_body
      = yield
